@font-face {
  font-family: Montserrat;
  src: Montserrat-Regular.tff
}
h1.headerOne {
    text-align: left;
    float: left;
    width: 46%;
    color: #ffffff;
}
h1.headerTwo {
    text-align: right;
    float: right;
    width: 46%;
    color: #ffffff;
}
table.menuMain {
    color: #eeeff0;
    border-style: hidden;
    margin: auto;
    display: table;
    background-color: rgb(64,68,75);
}
td.menuMain {
    width: 25%;
    border-style: solid;
    border-width: medium;
    border-color: rgb(185,187,190);
}
td.menuMain:hover {
    border-color: #ffffff;
}
td.current:hover {
    border-color: rgb(4,220,240);
}
td.current {
    width: 25%;
    border-style: solid;
    border-width: medium;
    border-color: rgb(4,165,228);
    align-items: center;
}
body {
    background-color: rgb(54,57,63);
    margin: 0px;
}
header {
    background-color: rgb(64,68,75);
    overflow: auto;
}
img.logo {
    float: left;
    width: 6%;
}
br.main {
    height: 0px;
}
div.mainOne {
    float: left;
    width: 1%;
}
div.mainTwo {
    float: right;
    width: 1%;
}
p.footerLeft {
    margin: 10px;
    color: #ffffff;
    float: left;
}
p.footerRight {
    margin: 10px;
    color: #ffffff;
    float: right;
}
footer {
    background-color: #000000;
    bottom: 0;
    position: fixed;
    width: 100%;
}
p.menuItems {
    margin: 0px 4px 0px 4px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 150%;
    text-align: center;
}
a.menuMainCurrent:hover {
    color: #ffffff;
}
a.menuMain:hover {
    color: #ffffff;
}
a.menuMain {
    color: rgb(222,222,222);
    text-decoration: none;    
}
a.menuMainCurrent {
    color: rgb(222,222,222);
    text-decoration: none;    
}
