/* January 2021 - RoccoLox Programs */
/* Main styling */
@font-face {
  font-family: Montserrat;
  src: url("Montserrat-Regular.ttf");
  font-display: swap;
}
h1.headerOne {
    text-align: left;
    float: left;
    width: 46%;
    color: #ffffff;
    font-family: 'Montserrat';
    font-weight: normal;
}
table.menuMain {
    color: #eeeff0;
    border-style: hidden;
    margin: auto;
    display: table;
    background-color: rgb(64,68,75);
    font-family: 'Montserrat';
    font-weight: normal;
}
td.menuMain {
    width: 25%;
    border-style: solid;
    border-width: medium;
    border-color: rgb(185,187,190);
}
td.menuMain:hover {
    border-color: #ffffff;
}
body {
    background-color: rgb(54,57,63);
    margin: 0px;
}
header {
    background-color: rgb(64,68,75);
    overflow: auto;
}
img.logo {
    float: left;
    width: 6%;
}
br.main {
    height: 0px;
}
div.mainOne {
    float: left;
    width: 1%;
}
div.mainTwo {
    float: right;
    width: 1%;
}
p.footerLeft {
    color: #ffffff;
    width: 32%;
    margin: 20px 0px;
    float: left;
    text-align: left;
    font-family: 'Montserrat';
    font-weight: normal;
}
p.footerRight {
    color: #ffffff;
    width: 32%;
    margin: 20px 0px;
    float: right;
    text-align: right;
    font-family: 'Montserrat';
    font-weight: normal;
}
p.user {
    color: #ffffff;
    width: 34%;
    margin: 20px 0px;
    float: left;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: bold;
}
footer {
    background-color: #000000;
    bottom: 0;
    position: fixed;
    width: 100%;
}
p.menuItems {
    margin: 0px 4px 0px 4px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 150%;
    text-align: center;
}
a.menuMainCurrent:hover {
    color: #ffffff;
}
a.menuMain:hover {
    color: #ffffff;
}
a.menuMain {
    color: rgb(222,222,222);
    text-decoration: none;    
}
/* Student Portal */
td.current {
    width: 25%;
    border-style: solid;
    border-width: medium;
    border-color: rgb(4,165,228);
    align-items: center;
}
td.current:hover {
    border-color: rgb(4,220,240);
}
h1.headerTwo {
    text-align: right;
    float: right;
    width: 46%;
    color: rgb(4,165,228);
    font-family: 'Montserrat';
    font-weight: normal;
}
/* Teacher Portal */
td.tCurrent {
    width: 25%;
    border-style: solid;
    border-width: medium;
    border-color: rgb(179,11,0);
    align-items: center;
}
td.tCurrent:hover {
    border-color: rgb(235,11,0);
}
h1.headerTwoT {
    text-align: right;
    float: right;
    width: 46%;
    color: rgb(179,11,0);
    font-family: 'Montserrat';
    font-weight: normal;
}
